
@model IEnumerable<Jmo.Web.Data.Domain.Question>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Preguntas Disponibles para Repasar</h1>
    <div class="headerTable">
        @foreach (var preg in Model)
        {

            <div class="form-group">
                <h3>@preg.Questionant</h3>
            </div>
            <div class="form-group">
                <a asp-route-id="@preg.Id" class="btn btn-info" asp-action="Detail" asp-controller="Questions">
                    Detalle y Respuestas
                </a>
                <a asp-route-id="@preg.Id" class="btn btn-warning" asp-action="Create" asp-controller="Questions">
                    Editar
                </a>
                <a asp-route-id="@preg.Id" class="btn btn-danger" asp-action="Create" asp-controller="Questions">
                    Eliminar
                </a>
            </div>

        }
    </div>
</div>